<h3>Admin Dashboard</h3>

<div class="mb-3 d-flex gap-2 flex-wrap">
  <a class="btn btn-outline-primary" href="/adm/products">Produk</a>
  <a class="btn btn-outline-secondary" href="/adm/users">Users</a>
  <a class="btn btn-outline-info" href="/adm/settings">Pengaturan</a>
  <a class="btn btn-outline-danger" href="/adm/logout">Logout</a>
</div>

<div class="row mb-3">
  <div class="col-md-4">
    <div class="card p-3 text-center admin-stats">
      <h6>Pemasukan (Rp)</h6>
      <h4 id="incomeNum">-</h4>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card p-3 text-center admin-stats">
      <h6>Pengeluaran (Rp)</h6>
      <h4 id="expenseNum">-</h4>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card p-3 text-center admin-stats">
      <h6>Jumlah Order</h6>
      <h4 id="ordersNum">-</h4>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5>Grafik Pemasukan vs Pengeluaran</h5>
    <div class="canvas-wrap" style="height:240px;">
      <canvas id="incomeChart"></canvas>
    </div>
  </div>
</div>
